::v-deep .el-input__inner{
  height: 30px;
  border-radius: 0 !important;
}

::v-deep .el-button{
  border-radius: 0;
  border: 0;
  position: relative;
  z-index: 0;

  &:hover{
    &:before{
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #33333355;
    }
  }

  &:active{
    &:before{
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #33333388;
    }
  }
}
